.card__icon {
  height: auto;
  width: 4.5rem;
  margin-bottom: 3.625rem;
}

.card {
  padding: 2.25rem 1.5rem;
  width: 278px;
  border-radius: 8px;
  box-shadow: 0px 4px 18px 0px var(--color-card-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
}

.card__title {
  text-align: center;
  font-family: Rubik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 138.5%;
  letter-spacing: 1.28px;
  margin: 0;
}

.card__text {
  color: var(--color-gray);
  text-align: center;
  font-family: Rubik;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 138.5%;
  letter-spacing: 0.96px;
  margin: 0;
}
