.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-gray);
  position: relative;
  height: 700px;
}

.section-hero-container {
  max-width: 1052px;
  width: 100%;
  padding: 135px 20px 20px;
  display: flex;
}

.section-hero-content {
  max-width: 500px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 60%;
}

.text p {
  color: #616161;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 138.5%;
  letter-spacing: 0.96px;
  width: 375px;
  height: 36px;
}

.img-hero {
  max-width: 547px;
  height: 395px;
  margin-bottom: 40px;
}

.image-doctor {
  flex: 1;
  order: 2;
  margin-left: 40px;
  z-index: 5;
}

.play-gocorna {
  margin-top: 150px;
  display: flex;
}

.play {
  width: 44px;
  height: 44px;
}

.text-gocorna {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  margin-left: 12px;
}

.text-gocorna p {
  font-family: "Rubik";
  font-size: 13px;
  color: #b0b0b0;
  font-weight: 400;
  line-height: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.watch-video {
  font-size: 9px;
  text-decoration: none;
  border-radius: 5px;
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  line-height: 126%;
  letter-spacing: 1.485px;
  text-transform: uppercase;
}

.watch-video:hover {
  background-color: #333;
  color: var(--color-white);
}

.red-rectangle {
  width: 295.288px;
  height: 700px;
  border-radius: 30px 0 0 30px;
  background: var(--color-red);
  z-index: 3;
  right: 0;
  position: absolute;
}
