.app-btn {
  padding: 1rem 2.5rem;
  font-family: Raleway;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  outline: none;
  color: var(--color-white);
  font-size: 0.625rem;
  letter-spacing: 1.4px;
  font-weight: 600;
  cursor: pointer;
}

.red-button {
  background-color: var(--color-red);
}

.blue-button {
  background-color: var(--color-blue);
}
