.section__title {
  font-family: Rubik;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 126%;
  margin: 0;
}

.section__title--red {
  color: var(--color-red);
}

.section__title--blue {
  color: var(--color-blue);
}
