.page-container-expetrs {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 1052px;
}

.section__experts {
  margin: 53px 0 115px;
  background-color: var(--color-bg-gray);
}

.mainContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-top: 80px;
}

.experts-image {
  width: 521.17px;
  height: 284px;
}

.experts-container {
  margin-left: 0px;
}

.achivment-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 654px;
  height: 117px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  background-color: transparent;
  position: relative;
  background-color: transparent;
  z-index: 1;
}


.achivment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.achivment-list li {
  color: #000;
  text-align: center;
  font-family: Rubik;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 4.07px;
  text-transform: uppercase;
}

.achivment-list li:first-of-type {
  color: var(--color-red);
  text-align: center;
  font-size: 36px;
}

.rectangle-container {
  width: 654px;
  height: 117px;
  border-radius: 16px;
  background: var(--color-white);
  box-shadow: 0px 2px 24px 0px rgba(88, 126, 236, 0.15);
  position: absolute;
  top: 0;
  left: 0;
}

.achivment-wrapper {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.background-image {
  width: 760.89px;
  height: 200.737px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -40px;
  margin-top: -40px;
}
