.page-container {
  margin: 80px 0;
  display: flex;
  justify-content: space-evenly;
  width: 1052px;
}

.custom-image {
  width: 338px;
  height: 542px;
}

.custom-text {
  color: var(--color-gray);
  font-family: Rubik;
  font-size: 12px;
}

.content-container {
  max-width: 363px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
