.img-logo {
  width: 140px;
  height: 40px;
}

.logo {
  cursor: pointer;
}

.header-container {
  display: flex;
  padding: 37px 50px;
  width: 1152px;
  height: 42px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  z-index: 100;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin-right: 100px;
}

.header-link {
  text-decoration: none;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 10px;
  width: 34px;
  height: 12px;
  top: 51px;
  line-height: 11.74px;
}

.header-link:hover {
  color: #EC5863;
}

.header-item {
  margin-right: 25px;
}

.header-item:last-child {
  margin-right: 0px;
}
