@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-red: #EC5863;
  --color-blue: #4285F4;
  --color-white: white;
  --color-black: black;
  --color-gray: #616161;
  --color-bg-gray: #FAFBFD;
  --color-card-shadow: rgba(88, 126, 236, 0.18);
}

body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Rubik', sans-serif;
}

div {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 1152px;
}
