.section-healcare {
  text-align: center;
  position: relative;
  width: 1052px;
}

img {
  height: 100%;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4.635rem;
  position: relative;
}

.context {
  color: var(--color-gray);
  text-align: center;
  font-family: Rubik;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 138.5%;
  letter-spacing: 0.06rem;
  margin-bottom: 2.875rem;
}

.store {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.875rem;
}

.store button:first-child {
  margin-right: 3.5rem;
}

.store button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}
